^\.github$
^\.git$
^.*\.Rproj$
^\.Rproj\.user$
^renv$
^renv\.lock$
^README\.Rmd$
^pkgdown$
^_pkgdown\.yml$
^nma_results$
^results_nma$
^CODE_OF_CONDUCT\.md$
^cran-comments\.md$
^revdep$

/doc/
/Meta/
.Rproj.user
